*.iml
*.class
*.log
.idea
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
GeneratedPluginRegistrant.java

# Eclipse-specific files and directories
app/.project
app/.classpath

# App signing stuff.
**/**.jks
key*.properties

# Fastlane
#
# Reports are used for local report generation (like time tracking) when using
# fastlane.
fastlane/report.xml