# Copyright (c) 2022 Sharezone UG (haftungsbeschr채nkt)
# Licensed under the EUPL-1.2-or-later.
#
# You may obtain a copy of the Licence at:
# https://joinup.ec.europa.eu/software/page/eupl
#
# SPDX-License-Identifier: EUPL-1.2

name: sharezone
description: A collaborative school planner for students, teachers and parents.
# Note that this build number is not the latest build number. Please go to App
# Store Connect
# (https://appstoreconnect.apple.com/apps/1434868489/testflight/ios) or use
# "app-store-connect get-latest-build-number 1434868489" to get the latest build
# number.
version: 1.7.4+318
publish_to: none

environment:
  sdk: '>=3.1.0 <4.0.0'

dependencies:
  abgabe_client_lib:
    path: ../lib/abgabe/abgabe_client_lib
  abgabe_http_api:
    path: ../lib/abgabe/abgabe_http_api
  add_2_calendar: ^2.2.4
  analytics:
    path: ../lib/analytics
  animated_stream_list_nullsafety: ^2.0.3
  animations: ^2.0.1
  animator: ^3.2.0
  app_functions:
    path: ../lib/app_functions
  app_review: ^2.1.1
  authentification_base:
    path: ../lib/authentification/authentification_base
  authentification_qrcode:
    path: ../lib/authentification/authentification_qrcode
  auto_size_text: ^3.0.0
  bloc_base:
    path: ../lib/bloc_base
  bloc_provider:
    path: ../lib/bloc_provider
  build_context:
    path: ../lib/build_context
  characters: ^1.0.0
  clock: ^1.1.1
  cloud_firestore: ^4.8.5
  cloud_functions: ^4.4.0
  collection: ^1.17.2
  common_domain_models:
    path: ../lib/common_domain_models
  crash_analytics:
    path: ../lib/crash_analytics
  cupertino_icons: ^1.0.3
  date:
    path: ../lib/date
  design:
    path: ../lib/design
  dio: ^5.3.2
  dynamic_links:
    path: ../lib/dynamic_links
  fast_immutable_collections: ^9.1.5
  feature_discovery: ^0.14.0
  files_basics:
    path: ../lib/filesharing/files_basics
  files_usecases:
    path: ../lib/filesharing/files_usecases
  filesharing_logic:
    path: ../lib/filesharing/filesharing_logic
  firebase_auth: ^4.7.3
  firebase_core: ^2.15.1
  firebase_hausaufgabenheft_logik:
    path: ../lib/firebase_hausaufgabenheft_logik
  firebase_messaging: ^14.6.6
  firebase_performance: ^0.9.2+5
  firebase_storage: ^11.2.6
  flare_flutter: ^3.0.2
  flutter:
    sdk: flutter
  flutter_cache_manager: ^3.1.2
  flutter_localizations:
    sdk: flutter
  flutter_markdown:
    git:
      url: https://github.com/SharezoneApp/packages
      path: packages/flutter_markdown
      ref: b7b0b44fe2f7c2219fdaa298ab0f99a97a07a852
  flutter_native_timezone: ^2.0.0
  flutter_rating_bar: ^4.0.0
  flutter_sfsymbols: ^2.0.0
  flutter_slidable: ^3.0.0
  flutter_svg: ^2.0.2
  font_awesome_flutter: ^10.4.0
  group_domain_implementation:
    path: ../lib/group_domain_implementation
  group_domain_models:
    path: ../lib/group_domain_models
  hausaufgabenheft_logik:
    path: ../lib/hausaufgabenheft_logik
  holidays:
    path: ../lib/holidays
  # Used so that we can select a minute interval (only either XX:00 or XX:30)
  # for the homework reminder time picker.
  interval_time_picker: ^2.0.0+5
  intl: ^0.18.1
  key_value_store:
    path: ../lib/key_value_store
  last_online_reporting:
    path: ../lib/last_online_reporting
  markdown: ^7.1.1
  meta: ^1.1.8
  notifications:
    path: ../lib/notifications
  numberpicker: ^2.1.1
  open_file_plus: ^3.4.1
  optional: ^6.1.0+1
  overlay_support: ^2.1.0
  package_info_plus: ^4.1.0
  permission_handler: ^10.2.0
  photo_view: ^0.14.0
  provider: ^6.0.3
  purchases_flutter: ^5.6.2
  qr_code_scanner:
    path: ../lib/qr_code_scanner
  qr_flutter: ^4.0.0
  quiver: ^3.0.1
  remote_configuration:
    path: ../lib/remote_configuration
  rxdart: ^0.27.1
  scrollable_positioned_list: ^0.3.8
  share: ^2.0.4
  shared_preferences: ^2.0.5
  sharezone_common:
    path: ../lib/sharezone_common
  sharezone_utils:
    path: ../lib/sharezone_utils
  sharezone_widgets:
    path: ../lib/sharezone_widgets
  showcaseview: ^2.0.1
  sliding_up_panel:
    git:
      url: https://github.com/nilsreichardt/sliding_up_panel
      ref: animation-listener-null-safety
  streaming_shared_preferences: ^2.0.0
  string_similarity: ^2.0.0
  time:
    path: ../lib/time
  timeago: ^3.1.0
  url_launcher: ^6.1.10
  url_launcher_extended:
    path: ../lib/url_launcher_extended
  user:
    path: ../lib/user
  video_player: ^2.4.2

# Falls hier etwas hinzugef체gt wird, MUSS ab jetzt ein Kommentar hinzugef체gt:
# * warum der dependency_override hinzugef체gt wird.
# * ab wann der override entfernt werden kann.
# dependency_overrides:
dev_dependencies:
  build_runner: ^2.3.3
  equatable: ^2.0.5
  flutter_test:
    sdk: flutter
  golden_toolkit: ^0.15.0
  integration_test:
    sdk: flutter
  mockito: ^5.3.2
  random_string: ^2.0.1

flutter:
  uses-material-design: true

  fonts:
    - family: Rubik
      fonts:
        - asset: fonts/Rubik/Rubik-Light.ttf
          weight: 200
        - asset: fonts/Rubik/Rubik-Regular.ttf
          weight: 400
        - asset: fonts/Rubik/Rubik-Medium.ttf
          weight: 500
        - asset: fonts/Rubik/Rubik-Bold.ttf
          weight: 700
        - asset: fonts/Rubik/Rubik-Black.ttf
          weight: 900
        - asset: fonts/Rubik/Rubik-Italic.ttf
          style: italic

    - family: PT MONO
      fonts:
        - asset: fonts/PTM55FT.ttf

    - family: sficonsets
      fonts:
        - asset: packages/flutter_sfsymbols/fonts/sficonsets.ttf

  assets:
    - assets/
    - assets/team/
    - assets/icons/
    - assets/logo/
    - assets/flare/
    - assets/wallpaper/
    - assets/wallpaper/blackboard/
    - assets/images/
    - packages/fast_rsa/web/assets/worker.js
    - packages/fast_rsa/web/assets/wasm_exec.js
    - packages/fast_rsa/web/assets/rsa.wasm
