# Copyright (c) 2022 Sharezone UG (haftungsbeschränkt)
# Licensed under the EUPL-1.2-or-later.
#
# You may obtain a copy of the Licence at:
# https://joinup.ec.europa.eu/software/page/eupl
#
# SPDX-License-Identifier: EUPL-1.2

name: sharezone
description: A collaborative school planner for students, teachers and parents.
# Note that we do not store the current build number in the pubspec.yaml. The
# build number is automatically increased by the CD pipeline (using `sz deploy`
# command).
version: 2.3.2+0
publish_to: none

resolution: workspace
environment:
  sdk: ^3.7.0

dependencies:
  abgabe_client_lib:
    path: ../lib/abgabe/abgabe_client_lib
  abgabe_http_api:
    path: ../lib/abgabe/abgabe_http_api
  add_2_calendar: ^3.0.1
  analytics:
    path: ../lib/analytics
  animated_stream_list_nullsafety: ^2.0.3
  animations: ^2.0.11
  animator: ^3.3.0
  app_functions:
    path: ../lib/app_functions
  in_app_review: ^2.0.10
  authentification_base:
    path: ../lib/authentification/authentification_base
  authentification_qrcode:
    path: ../lib/authentification/authentification_qrcode
  auto_size_text: ^3.0.0
  bloc: ^9.0.0
  bloc_base:
    path: ../lib/bloc_base
  bloc_presentation: ^1.0.1
  bloc_provider:
    path: ../lib/bloc_provider
  build_context:
    path: ../lib/build_context
  characters: ^1.4.0
  clock: ^1.1.2
  cloud_firestore: ^5.6.4
  cloud_firestore_helper:
    path: ../lib/cloud_firestore_helper
  cloud_functions: ^5.3.3
  collection: ^1.19.1
  common_domain_models:
    path: ../lib/common_domain_models
  crash_analytics:
    path: ../lib/crash_analytics
  stripe_checkout_session:
    path: ../lib/sharezone_plus/stripe_checkout_session
  cupertino_icons: ^1.0.8
  date:
    path: ../lib/date
  design:
    path: ../lib/design
  diacritic: ^0.1.6
  dio: ^5.8.0+1
  equatable: ^2.0.7
  fast_immutable_collections: ^11.0.4
  feedback_shared_implementation:
    path: ../lib/feedback_shared_implementation
  files_basics:
    path: ../lib/filesharing/files_basics
  files_usecases:
    path: ../lib/filesharing/files_usecases
  filesharing_logic:
    path: ../lib/filesharing/filesharing_logic
  firebase_auth: ^5.5.0
  firebase_core: ^3.12.0
  firebase_messaging: ^15.2.3
  firebase_performance: ^0.10.1+3
  firebase_storage: ^12.4.3
  flare_flutter: ^3.0.2
  flutter:
    sdk: flutter
  flutter_bloc: ^9.0.0
  flutter_cache_manager: ^3.4.1
  flutter_localizations:
    sdk: flutter
  # We use a custom version to be able to scroll to a
  # specific heading inside the text and to be able
  # to know which section is currently read by the user
  # (used e.g. by the privacy policy).
  flutter_markdown:
    git:
      url: https://github.com/SharezoneApp/packages
      path: packages/flutter_markdown
      ref: 2f680bb80119f6fd037a7bda0984bc811b5dccb8
  flutter_timezone: ^4.1.1
  flutter_rating_bar: ^4.0.1
  flutter_sfsymbols: ^2.0.0
  flutter_slidable: ^4.0.0
  flutter_staggered_animations: ^1.1.1
  flutter_svg: ^2.0.17
  font_awesome_flutter: ^10.8.0
  google_mobile_ads: ^5.3.1
  group_domain_implementation:
    path: ../lib/group_domain_implementation
  group_domain_models:
    path: ../lib/group_domain_models
  hausaufgabenheft_logik:
    path: ../lib/hausaufgabenheft_logik
  holidays:
    path: ../lib/holidays
  helper_functions:
    path: ../lib/helper_functions
  http: ^1.4.0
  # Used so that we can select a minute interval (only either XX:00 or XX:30)
  # for the homework reminder time picker.
  interval_time_picker: ^4.0.0+12
  intl: ^0.20.2
  key_value_store:
    path: ../lib/key_value_store
  last_online_reporting:
    path: ../lib/last_online_reporting
  legal:
    path: ../lib/legal
  logging: ^1.3.0
  # Can be replaced once Flutter officially supports the new Material Symbols,
  # see https://github.com/flutter/flutter/issues/102560.
  material_symbols_icons: ^4.2805.1
  markdown: ^7.3.0
  meta: ^1.16.0
  notifications:
    path: ../lib/notifications
  numberpicker: ^2.1.2
  open_file_plus: ^3.4.1+1
  overlay_support: ^2.1.0
  package_info_plus: ^8.3.0
  permission_handler: ^11.3.1
  photo_view: ^0.15.0
  provider: ^6.1.2
  purchases_flutter: ^8.7.5
  qr_code_scanner:
    path: ../lib/qr_code_scanner
  qr_flutter: ^4.1.0
  quiver: ^3.2.2
  platform_check:
    path: ../lib/platform_check
  remote_configuration:
    path: ../lib/remote_configuration
  retry: ^3.1.2
  rxdart: ^0.28.0
  scrollable_positioned_list: ^0.3.8
  share_plus: ^10.1.4
  shared_preferences: ^2.5.2
  sharezone_common:
    path: ../lib/sharezone_common
  sharezone_localizations:
    path: ../lib/sharezone_localizations
  sharezone_utils:
    path: ../lib/sharezone_utils
  sharezone_plus_page_ui:
    path: ../lib/sharezone_plus/sharezone_plus_page_ui
  sharezone_widgets:
    path: ../lib/sharezone_widgets
  showcaseview: ^4.0.1
  sliding_up_panel:
    git:
      url: https://github.com/nilsreichardt/sliding_up_panel
      ref: animation-listener-null-safety
  streaming_shared_preferences: ^2.0.0
  string_similarity: ^2.1.1
  time:
    path: ../lib/time
  timeago: ^3.7.0
  url_launcher: ^6.3.1
  url_launcher_extended:
    path: ../lib/url_launcher_extended
  user:
    path: ../lib/user
  video_player: ^2.9.2
  chewie: ^1.10.0
  app_links: ^6.4.1

# Falls hier etwas hinzugefügt wird, MUSS ab jetzt ein Kommentar hinzugefügt:
# * warum der dependency_override hinzugefügt wird.
# * ab wann der override entfernt werden kann.
dependency_overrides:
  # Can be removed once this issue is fixed: https://github.com/2d-inc/Flare-Flutter/issues/325
  flare_flutter:
    git:
      url: https://github.com/mbfakourii/Flare-Flutter.git
      path: flare_flutter
      ref: remove_hashValues
  # Can be removed once this issue is fixed:
  # https://github.com/joutvhu/open_file_plus/issues/22
  open_file_plus:
    git:
      url: https://github.com/postflow/open_file_plus.git
      ref: b29351d11174869ebe0d7a5401ecad0a2300a63b

dev_dependencies:
  async: ^2.12.0
  built_collection: ^5.1.1
  build_runner: ^2.4.14
  flutter_test:
    sdk: flutter
  golden_toolkit: ^0.15.0
  integration_test:
    sdk: flutter
  mockito: ^5.4.5
  test_randomness:
    path: ../lib/test_randomness
  bloc_test: ^10.0.0
  bloc_presentation_test: ^1.0.2
  path: ^1.9.1
  patrol: ^3.15.2
  flutter_launcher_icons: ^0.14.4

patrol:
  app_name: Sharezone App
  android:
    package_name: de.codingbrain.sharezone
  ios:
    bundle_id: de.codingbrain.sharezone.app

flutter:
  uses-material-design: true

  fonts:
    - family: Rubik
      fonts:
        - asset: fonts/Rubik/Rubik-Light.ttf
          weight: 200
        - asset: fonts/Rubik/Rubik-Regular.ttf
          weight: 400
        - asset: fonts/Rubik/Rubik-Medium.ttf
          weight: 500
        - asset: fonts/Rubik/Rubik-Bold.ttf
          weight: 700
        - asset: fonts/Rubik/Rubik-Black.ttf
          weight: 900
        - asset: fonts/Rubik/Rubik-Italic.ttf
          style: italic

    - family: PT MONO
      fonts:
        - asset: fonts/PTM55FT.ttf

    - family: sficonsets
      fonts:
        - asset: packages/flutter_sfsymbols/fonts/sficonsets.ttf

  assets:
    - assets/
    - assets/team/
    - assets/icons/
    - assets/logo/
    - assets/flare/
    - assets/wallpaper/
    - assets/wallpaper/blackboard/
    - assets/images/
    - packages/fast_rsa/web/assets/worker.js
    - packages/fast_rsa/web/assets/wasm_exec.js
    - packages/fast_rsa/web/assets/rsa.wasm
    - packages/sharezone_plus_page_ui/assets/jonas-nils.png

# See https://pub.dev/packages/flutter_launcher_icons
flutter_launcher_icons:
  ios: true
  # Light (default) icon
  image_path_ios: icon/ios/light.png
  # Dark icon (iOS 18+) — Apple recommends a transparent icon foreground
  image_path_ios_dark_transparent: icon/ios/dark_transparent.png
  remove_alpha_ios: true
  desaturate_tinted_to_grayscale_ios: true
