# Copyright (c) 2022 Sharezone UG (haftungsbeschränkt)
# Licensed under the EUPL-1.2-or-later.
#
# You may obtain a copy of the Licence at:
# https://joinup.ec.europa.eu/software/page/eupl
#
# SPDX-License-Identifier: EUPL-1.2

name: sharezone
description: Der digitale Schulplaner &quot;Sharezone&quot; für Android und iOS.
version: 1.6.2+316
publish_to: none

environment:
  sdk: ">=2.10.0 <3.0.0"

dependencies:
  abgabe_client_lib:
    path: ../lib/abgabe/abgabe_client_lib
  abgabe_http_api:
    path: ../lib/abgabe/abgabe_http_api
  add_2_calendar: ^2.1.1
  analytics:
    path: ../lib/analytics
  animated_stream_list: ^1.1.0
  animations: ^2.0.1
  animator: ^3.1.0
  app_functions:
    path: ../lib/app_functions
  app_review: ^2.0.1
  authentification_base:
    path: ../lib/authentification/authentification_base
  authentification_qrcode:
    path: ../lib/authentification/authentification_qrcode
  auto_size_text: ^2.1.0
  barcode_scan: ^2.0.2
  bloc_base:
    path: ../lib/bloc_base
  bloc_provider:
    path: ../lib/bloc_provider
  build_context:
    path: ../lib/build_context
  characters: ^1.0.0
  cloud_firestore: ^3.1.3
  cloud_functions: ^3.0.4
  common_domain_models:
    path: ../lib/common_domain_models
  crash_analytics:
    path: ../lib/crash_analytics
  cupertino_icons: ^1.0.3
  date:
    path: ../lib/date
  design:
    path: ../lib/design
  dio: ^4.0.0
  dynamic_links:
    path: ../lib/dynamic_links
  feature_discovery: ^0.14.0
  files_basics:
    path: ../lib/filesharing/files_basics
  files_usecases:
    path: ../lib/filesharing/files_usecases
  filesharing_logic:
    path: ../lib/filesharing/filesharing_logic
  firebase_auth: ^3.1.2
  firebase_core: ^1.3.0
  firebase_hausaufgabenheft_logik:
    path: ../lib/firebase_hausaufgabenheft_logik
  firebase_messaging: ^10.0.3
  firebase_performance: ^0.7.0+6
  firebase_storage: ^10.2.2
  flare_flutter: ^3.0.2
  flutter:
    sdk: flutter
  flutter_cache_manager: ^3.1.2
  flutter_localizations:
    sdk: flutter
  flutter_markdown:
    git: 
      url: https://github.com/SharezoneApp/packages
      path: packages/flutter_markdown
  flutter_native_timezone: ^2.0.0
  flutter_rating_bar: ^4.0.0
  flutter_sfsymbols: ^2.0.0
  flutter_slidable: ^0.6.0
  flutter_svg: ^0.22.0
  font_awesome_flutter: ^9.1.0
  group_domain_implementation:
    path: ../lib/group_domain_implementation
  group_domain_models:
    path: ../lib/group_domain_models
  hausaufgabenheft_logik:
    path: ../lib/hausaufgabenheft_logik
  intl: ^0.17.0
  jitsi_meet: ^4.0.0
  key_value_store:
    path: ../lib/key_value_store
  last_online_reporting:
    path: ../lib/last_online_reporting
  markdown: ^5.0.0
  meta: ^1.1.8
  notifications:
    path: ../lib/notifications
  numberpicker: ^2.1.1
  open_file: ^3.0.3
  optional: ^4.1.0
  overlay_support: ^1.0.5
  package_info_plus: ^1.0.4
  permission_handler: ^8.1.2
  photo_view: ^0.12.0
  provider: ^5.0.0
  purchases_flutter: ^3.4.5
  qr_flutter: ^4.0.0
  quiver: ^3.0.1
  remote_configuration:
    path: ../lib/remote_configuration
  rxdart: ^0.27.1
  scrollable_positioned_list: ^0.2.3
  share: ^2.0.4
  shared_preferences: ^2.0.5
  sharezone_about_page_addon:
    path: ../lib/sharezone_about_page_addon
  sharezone_common:
    path: ../lib/sharezone_common
  sharezone_utils:
    path: ../lib/sharezone_utils
  sharezone_widgets:
    path: ../lib/sharezone_widgets
  showcaseview: ^1.1.1
  sliding_up_panel:
    git:
      url: https://github.com/AndroidNils/sliding_up_panel
      ref: animation-listener
  streaming_shared_preferences:
    path: ../lib/streaming_shared_preferences
  string_similarity: ^2.0.0
  time:
    path: ../lib/time
  timeago: ^3.1.0
  url_launcher: ^6.0.9
  url_launcher_extended:
    path: ../lib/url_launcher_extended
  user:
    path: ../lib/user
  video_player: ^2.1.12

# Falls hier etwas hinzugefügt wird, MUSS ab jetzt ein Kommentar hinzugefügt:
# * warum der dependency_override hinzugefügt wird.
# * ab wann der override entfernt werden kann.
dependency_overrides:
  # Dieser dependency_override wird verwendet, damit Videos auf macOS
  # ebenfalls abgespielt werden können. Sobald die Pull Request
  # (https://github.com/flutter/plugins/pull/3712) gemergt ist, kann
  # der override wieder entfernt werden.
  video_player:
    git:
      url: https://github.com/cbenhagen/plugins.git
      path: packages/video_player/video_player
      ref: video_player_macos_new

dev_dependencies:
  build_runner: ^2.1.4
  built_value_generator: ^8.1.1
  flutter_driver:
    sdk: flutter
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  mockito: ^5.0.7
  random_string: ^2.0.1
  test: ^1.16.8

flutter:
  uses-material-design: true

  fonts:
    - family: Rubik
      fonts:
        - asset: fonts/Rubik/Rubik-Light.ttf
          weight: 200
        - asset: fonts/Rubik/Rubik-Regular.ttf
          weight: 400
        - asset: fonts/Rubik/Rubik-Medium.ttf
          weight: 500
        - asset: fonts/Rubik/Rubik-Bold.ttf
          weight: 700
        - asset: fonts/Rubik/Rubik-Black.ttf
          weight: 900
        - asset: fonts/Rubik/Rubik-Italic.ttf
          style: italic

    - family: PT MONO
      fonts:
        - asset: fonts/PTM55FT.ttf

    - family: sficonsets
      fonts:
        - asset: packages/flutter_sfsymbols/fonts/sficonsets.ttf

  assets:
    - assets/
    - assets/team/
    - assets/icons/
    - assets/logo/
    - assets/flare/
    - assets/wallpaper/
    - assets/wallpaper/blackboard/
    - assets/images/
    - packages/fast_rsa/web/assets/worker.js
    - packages/fast_rsa/web/assets/wasm_exec.js
    - packages/fast_rsa/web/assets/rsa.wasm
