name: deploy-web-app

on:
  push:
    branches:
      - main
    paths:
      # We only build and deploy a new version, when a user relevant files
      # changed.
      - "app/lib/**"
      - "lib/**"
      - "app/pubspec.yaml"
      # We trigger also this workflow, if this workflow is changed, so that new
      # changes will be applied.
      - ".github/workflows/alpha.yml"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  FLUTTER_VERSION: "2.5.2"
  CI_CD_DART_SCRIPTS_PACKAGE_PATH: "tools/sz_repo_cli/"

jobs:
  deploy-alpha-web-app:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install Flutter
      uses: subosito/flutter-action@v1
      with:
        flutter-version: ${{ env.FLUTTER_VERSION }}
        channel: any
    
    - name: Activate sz_repo_cli package
      run: pub global activate --source path "$CI_CD_DART_SCRIPTS_PACKAGE_PATH"

    # So we can just use "sz COMMAND" instead of "dart ../path/to/script.dart ..."
    - run: echo $(realpath ./bin) >> $GITHUB_PATH
    
    - name: Install firebase CLI
      run: |
        cd app
        sudo npm i -g firebase-tools

    - name: Build and deploy web-app
      env:
        SHAREZONE_PROD_KEY: ${{ secrets.FIREBASE_HOSTING_PROD_KEY }}
      run: |
        echo $SHAREZONE_PROD_KEY > sharezone-prod-key.json
        sz deploy web-app --stage alpha --message "Workflow $GITHUB_JOB, commit $GITHUB_SHA" --credentials sharezone-prod-key.json